
body {
    background-color: rgb(110, 110, 110);
    margin: auto;
}

header {
    background-image: linear-gradient(to bottom, #8484eb, #3d3dff);
    padding-top: 1px;
    height: 80px;
}

header h1 {
    padding-left: 20px;
    font-size: 2.5em;
    color: white;
    text-shadow: -3px 2px 4px black;
}

nav {
    background-color: #3d3dff;
    padding-top: 20px;
    padding-bottom: 10px;
}

nav a {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 11px;
    padding-left: 20px;
    color: white;
    text-decoration-line: none;
    font-size: 18px;
    text-shadow: -2px 1px 1px black;
}

nav a:hover {
    color: rgb(83, 83, 83);
    background-color: #8484eb;
    text-shadow: 1px 1px 1px black;
}

main { 
    background-color: rgb(31, 31, 31);
    display: block;
    width: 1200px;
    margin: auto;
}

li {
    color: white;
    margin-right:
}

li a {
    color: white;
    text-decoration-line: none;
}

footer {
    color: rgb(0, 0, 0);
    font-size: 2em;
    background-color: darkgray;
    text-align: center;
}